# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Frontend
dist/
.DS_Store
*.pem

# Backend
*.log
*.sqlite
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
